/* ========= GERAL ============ */

:root {
  --black: #000000;
  --white: #ffffff;

  --gradient: linear-gradient(#ffbf00, #f2a60c);

  --primary01: #ffbb00;
  --primary05: #332200;

  --gray06: #a8a8a8;
  --gray10: #424242;
  --gray12: #101010;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}
html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
img {
  max-width: 100%;
  display: block;
}
.container {
  max-width: 120rem;
  margin-inline: auto;

  padding-inline: 2rem;
}

/* ========= HEADER-MENU ============ */
header {
  background-color: var(--black);
}
header .header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;
  gap: 2rem;

  padding-block: 2rem;
}

header .header-menu-item {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;

  gap: 4rem;
}
header .header-menu-link {
  display: inline-block;
  position: relative;

  padding-block: 1.6rem;

  font-family: "Poppins";

  font-weight: 500;
  font-size: 1.8rem;

  color: var(--white);
}
header .header-menu-link::after {
  display: block;
  position: absolute;
  content: "";

  background: var(--white);

  width: 0;
  height: 0.2rem;

  margin-top: 0.5rem;

  transition: 0.5s ease-in-out;
}
header .header-menu-link:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  header .header-menu-link::after {
    display: none;
  }
  header .header-menu-item {
    gap: 2rem;
  }
  header .header-menu-link {
    background: var(--gray12);

    padding: 1.2rem 1.6rem;
    border-radius: 0.5rem;
  }
  header .header-menu-link:hover {
    background: var(--gray10);
  }
}

@media (max-width: 600px) {
  header .header-menu-item {
    gap: 1rem;
  }
  header .header-menu-link {
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
  }
}
/* ========= UTILITARIOS ============ */
.titulo-64 {
  font-family: "Poppins";

  font-weight: 600;
  font-size: 6.4rem;
  line-height: 115%;
}

.texto-24 {
  font-size: 2.4rem;
  line-height: 150%;
}

.btn {
  display: inline-block;
  padding: 1.6rem 3.2rem;

  background: var(--gradient);
  color: var(--primary05);
  border-radius: 0.5rem;

  font-family: "Poppins";

  font-weight: 600;
  font-size: 1.8rem;
  line-height: 130%;
}

/* ========= HOME ============ */
section.home {
  background-color: var(--gray12);
}
section.home::after {
  display: block;
  content: "";
  width: 100%;
  height: 12rem;
  background: var(--white);
}

section.home .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section.home p {
  display: block;
}
section .col-a {
  align-self: center;
  text-align: left;
}
section .titulo-64 {
  color: var(--white);
  margin-bottom: 3.2rem;
}
section .period {
  color: var(--primary01);
}
section .texto-24 {
  color: var(--gray06);
}
section .btn {
  margin-top: 2rem;
}
section .nimbus-home {
}
