.bike-insurance {
  background: var(--gray12);
  box-shadow: inset 0 120px var(--white), inset 0 -120px var(--black);
}
.bike-insurance .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}
.bike-insurance-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bike-insurance-info {
  padding-block: 18rem;
}
.bike-insurance-info h2,
.bike-insurance-info p {
  margin-bottom: 2.4rem;
}

@media (max-width: 800px) {
  .bike-insurance {
    box-shadow: inset 0 -120px var(--black);
  }
  .bike-insurance .container {
    grid-template-columns: 1fr;
    gap: 0rem;
  }
  .bike-insurance-info {
    padding-block: 6rem 4rem;
    grid-row: 1;
  }
  .bike-insurance-img img {
    margin-bottom: 6rem;
  }
}

@media (max-width: 600px) {
  .bike-insurance-info {
    padding-block: 4rem 4rem;
  }
  .bike-insurance-img img {
    margin-bottom: 4rem;
  }
}
