.insurance {
  background: var(--gray12);
  padding-block: 6rem;
}
.insurance h2,
.insurance h1,
.insurance-adv h2 {
  margin-bottom: 6rem;
}

.insurance-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.insurance-info div {
  background-color: var(--black);
  padding: 2rem 4rem;
  border-radius: 0.5rem;
}
.insurance-info div h3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.insurance-info div span {
  position: relative;
}
.insurance-info div span::after {
  content: "mensal";
  position: absolute;
  font: 600 1.2rem/1.3 "Poppins", sans-serif;
  color: var(--gray06);
  text-transform: lowercase;
  bottom: -1rem;
  right: 0;
}
.insurance-info ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3.2rem;
}
.insurance-info li {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.8rem;
  font: 500 1.8rem/1.3 "Roboto", sans-serif;
  color: var(--gray05);
}

.insurance-info div:first-child .btn {
  background: linear-gradient(var(--gray10), var(--gray11));
  color: var(--gray04);
}
.insurance-info div:first-child .btn:hover {
  background: linear-gradient(var(--gray11), var(--gray12));
}

.insurance-adv {
  background-color: var(--black);
  padding-block: 12rem;
}
.insurance-adv .adv-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 4rem 8rem;
}
.insurance-adv .adv-list img,
.insurance-adv .adv-list h3 {
  margin-bottom: 0.8rem;
}

.insurance-faq {
  padding-block: 12rem;
}
.insurance-faq h2 {
  margin-bottom: 6rem;
}
.insurance-faq .faq-info {
  padding: 2rem 4rem;
}
.insurance-faq .faq-info:nth-child(odd) {
  background-color: var(--gray02);
  border-radius: 0.5rem;
}
.insurance-faq .faq-info button::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 1.2rem;
  height: 0.8rem;
  background-color: var(--primary01);
  top: 0.6rem;
  left: -1.8rem;
}
.insurance-faq .faq-info button {
  width: 100%;
  cursor: pointer;
  position: relative;
  margin-bottom: 1.2rem;
  font-weight: 600;
  text-align: left;
}
.insurance-faq .faq-info button::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 1.35rem;
  height: 0.5rem;
  background-image: url(../../img/icones/seta-abrir.svg);
  top: 0.8rem;
  right: -2rem;

  transition: 0.3s ease;
}

.js .insurance-faq .faq-info dd {
  display: none;
  max-width: 80ch;
}
.js .insurance-faq .faq-info dd.active {
  display: block;
}
.js .insurance-faq .faq-info button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}

@media (max-width: 800px) {
  .insurance-adv .adv-item {
    gap: 4rem 4rem;
  }
  .insurance-adv .adv-list img {
    width: 2.4rem;
  }
  .insurance-adv {
    padding-block: 8rem;
  }
  .insurance-info {
    grid-template-columns: 1fr;
    max-width: 50rem;
    margin: auto;
  }
  .insurance-info li {
    font-size: 1.6rem;
  }
  .insurance-faq {
    padding-block: 6rem;
  }
  .insurance-faq h2 {
    margin-bottom: 4rem;
  }
}

@media (max-width: 600px) {
  .insurance-info div {
    padding: 1.2rem 2rem;
  }
  .insurance-info div h3 {
    margin-bottom: 2rem;
  }
  .insurance-info li {
    font-size: 1.4rem;
  }
  .insurance-info ul {
    gap: 1.2rem;
    margin-bottom: 2rem;
  }
  .insurance-adv .adv-item {
    gap: 2rem;
  }
  .insurance-adv .adv-list img {
    width: 2rem;
  }

  .insurance-adv {
    padding-block: 6rem;
  }
}
