.partners {
  padding-block: 6rem 12rem;
}
.partners h2 {
  margin-bottom: 6rem;
}
.partners ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  max-width: 144rem;
}
.partners li {
  display: flex;
  padding: 3.2rem;
}
.partners li:nth-child(-n + 4) {
  border-bottom: 0.2rem solid var(--gray02);
}
.partners li:nth-child(odd) {
  border-right: 0.2rem solid var(--gray02);
}
.partners li img {
  margin: auto;
}

@media (max-width: 800px) {
  .partners {
    padding-block: 4rem;
  }
  .partners h2 {
    margin-bottom: 4rem;
  }
  .partners ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .partners li:nth-child(-n + 6) {
    border-bottom: 0.2rem solid var(--gray02);
  }
}
